In [2]:
!pip install mlxtend
%pip install mlxtend --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Collecting mlxtend
  Downloading mlxtend-0.20.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 8.4 MB/s
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Installing collected packages: mlxtend
  Attempting uninstall: mlxtend
    Found existing installation: mlxtend 0.14.0
    Uninstalling mlxtend-0.14.0:
      Successfully uninstalled mlxtend-0.14.0
Successfully installed mlxtend-0.20.0

In [3]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder

In [5]:
transactions = [
    ["milk", "flour"], ["eggs", "rice", "butter", "milk", "flour"], ["sugar", "cheese"], ["flour"], 
    ["milk", "flour"], ["eggs", "rice", "butter", "cheese"], ["eggs", "rice", "butter", "milk", "flour"],
    ["sugar", "cheese"], ["milk", "sugar", "flour", "cheese"], ["sugar", "cheese"], ["flour"],
    ["eggs", "rice", "butter", "sugar", "cheese"], ["sugar", "milk"], ["milk", "flour"],
    ["butter", "eggs"], ["milk", "sugar", "cheese"], ["milk", "flour", "sugar"],
    ["eggs", "milk", "flour", "rice", "butter",], ["milk", "flour"], ["milk"], ["sugar", "butter"],
    ["rice", "eggs"], ["eggs", "rice", "butter", "milk", "flour"], ["sugar", "milk"],
    ["flour", "sugar", "butter", "milk", "cheese"],["eggs", "flour", "rice", "butter",]]

In [6]:
my_transactionencoder = TransactionEncoder()
my_transactionencoder.fit(transactions)
encoded_transactions = my_transactionencoder.transform(transactions)
encoded_transactions_df = pd.DataFrame(encoded_transactions, columns=my_transactionencoder.columns_)

encoded_transactions_df

    butter  cheese   eggs  flour   milk   rice  sugar
0    False   False  False   True   True  False  False
1     True   False   True   True   True   True  False
2    False    True  False  False  False  False   True
3    False   False  False   True  False  False  False
4    False   False  False   True   True  False  False
5     True    True   True  False  False   True  False
6     True   False   True   True   True   True  False
7    False    True  False  False  False  False   True
8    False    True  False   True   True  False   True
9    False    True  False  False  False  False   True
10   False   False  False   True  False  False  False
11    True    True   True  False  False   True   True
12   False   False  False  False   True  False   True
13   False   False  False   True   True  False  False
14    True   False   True  False  False  False  False
15   False    True  False  False   True  False   True
16   False   False  False   True   True  False   True
17    True   False   True   True   True   True  False
18   False   False  False   True   True  False  False
19   False   False  False  False   True  False  False
20    True   False  False  False  False  False   True
21   False   False   True  False  False   True  False
22    True   False   True   True   True   True  False
23   False   False  False  False   True  False   True
24    True    True  False   True   True  False   True
25    True   False   True   True  False   True  False

In [7]:
min_support = 7/len(transactions) 

from mlxtend.frequent_patterns.fpgrowth import fpgrowth
frequent_itemsets = fpgrowth(encoded_transactions_df, min_support=min_support, use_colnames = True)

frequent_itemsets

     support              itemsets
0   0.576923                (milk)
1   0.538462               (flour)
2   0.384615              (butter)
3   0.346154                (eggs)
4   0.307692                (rice)
5   0.423077               (sugar)
6   0.307692              (cheese)
7   0.423077         (flour, milk)
8   0.307692        (butter, eggs)
9   0.307692          (rice, eggs)
10  0.269231        (rice, butter)
11  0.269231  (rice, butter, eggs)
12  0.269231       (cheese, sugar)

In [8]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(flour),(milk),0.538462,0.576923,0.423077,0.785714,1.361905,0.112426,1.974359
1,(milk),(flour),0.576923,0.538462,0.423077,0.733333,1.361905,0.112426,1.730769
2,(butter),(eggs),0.384615,0.346154,0.307692,0.800000,2.311111,0.174556,3.269231
3,(eggs),(butter),0.346154,0.384615,0.307692,0.888889,2.311111,0.174556,5.538462
4,(rice),(eggs),0.307692,0.346154,0.307692,1.000000,2.888889,0.201183,inf
5,(eggs),(rice),0.346154,0.307692,0.307692,0.888889,2.888889,0.201183,6.230769
6,(rice),(butter),0.307692,0.384615,0.269231,0.875000,2.275000,0.150888,4.923077
7,(butter),(rice),0.384615,0.307692,0.269231,0.700000,2.275000,0.150888,2.307692
8,"(rice, butter)",(eggs),0.269231,0.346154,0.269231,1.000000,2.888889,0.176036,inf
9,"(rice, eggs)",(butter),0.307692,0.384615,0.269231,0.875000,2.275000,0.150888,4.923077
10,"(butter, eggs)",(rice),0.307692,0.307692,0.269231,0.875000,2.843750,0.174556,5.538462
11,(rice),"(butter, eggs)",0.307692,0.307692,0.269231,0.875000,2.843750,0.174556,5.538462
12,(butter),"(rice, eggs)",0.384615,0.307692,0.269231,0.700000,2.275000,0.150888,2.307692
13,(eggs),"(rice, butter)",0.346154,0.269231,0.269231,0.777778,2.888889,0.176036,3.288462
14,(cheese),(sugar),0.307692,0.423077,0.269231,0.875000,2.068182,0.139053,4.615385